body {
	display: block;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #edc79b;
}



#top {
	margin: 0px;
	width: 100%;
	height: 300px;
	position: relative;
	top: -20px;
	background-color: black;
	margin-bottom: 50px;

}

#southbay-pic{
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: 1;
	opacity: 0.3;
	margin: 0px;
	padding: 0px;
	background-color: #202020;
}

#where {
	color: #edc79b;
	z-index:3;
	font-size: 85px;
	position: absolute;
	padding: 5px 40px 5px 40px;
	border: solid 3px;
	border-radius: 4px;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	
}

#homeall{
	position: absolute;
	z-index: 3;
	top: 5%;
	left: 1%;
	width: 65px;
	height: 65px;
	border: solid 3px #edc79b;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	transition: 0.5s;

}


#home{
	height: 50px;
	padding: 5px 10px 5px 10px;

}

#navbar{
	list-style-type: none;
	width: 100%;
	height: 30px;
	background-color: #63a375;
	position: relative;
	top: 300px;
	text-align: center;
	z-index: 4;
	font-size: 17px;
	margin-bottom: 20px;


}

a{
	text-decoration:none;
}

.navbar-item{
	list-style-type: none;
	display: inline-block;
    color: #72195a;
    margin-left: 45px;
    margin-right: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 5px;
    letter-spacing: 2px; 
    cursor: pointer;
    transition: 0.5s;

    
}

.navbar-item:hover{
	background-color: #72195a;
	color: #63a375;

}

#bottom{
	margin:0px;
	padding: 0px;
	position: absolute;
	width: 100%;
	text-align: center;
}

.name{
	position: relative;
	text-align: center;
	font-family: Satisfy;
	font-size: 70px;
	color: #72195a;
	margin: 20px 0px 20px 0px;
	letter-spacing: 3px;
}

.store{
	display:inline-block;
	text-align: center;
	position: relative;
	margin: 20px 40px 20px 40px;

}

.store-pic{
	height: 220px;
	border-radius: 1000px;
	border: solid 10px #63a375;
	position: relative;
	margin-bottom: 14px;
	background-color: black;
}

.store-name:hover{
	background-color: #63a375;
	color: #72195a;
}

.store-name{
	position: relative;
	color: #edc79b;
	font-size: 20px;
	border: solid 2px #72195a;
	background-color: #72195a;
	padding: 2px;
	margin: 2px 30px 2px 30px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;


}

.info{
	display:none;
	position: absolute;
	height: 220px;
	width: 220px;
	background-color: #202020;
	border-radius: 1000px;
	text-align: center;
	border: solid 10px #202020;
}

.info-text{
	font-size: 14px;
	margin: 14px 14px;
	text-align: center;
	position: relative;
	color: #edc79b;
}

.star{
	width: 12px;
}

.info-container{
	margin-bottom: 6px;
}

.info-info{
	color: #63a375;
}

.x{
	width: 8px;
	position: relative;
	left: 50px;
	cursor: pointer;
	z-index:1000;

}


.opacity-changer{
	opacity: 0.1;
}

#pekoe-pic{
	transition: 0.8s;
}

#tea-top-pic{
	transition: 0.8s;
}

#tea-lyfe-pic{
	transition: 0.8s;
}

#pop-up-tea-pic{
	transition: 0.8s;
}

#shincha-tea-pic{
	transition: 0.8s;
}

#gongcha-pic{
	transition: 0.8s;
}

#beibay-tea-pic{
	transition: 0.8s;
}

#teasociety-pic{
	transition: 0.8s;
}

#i-tea-pic{
	transition: 0.8s;
}

#teaspoon-pic{
	transition: 0.8s;
}

#t4-pic{
	transition: 0.8s;
}

#tea-villa-pic{
	transition: 0.8s;
}

#sancha-bar-pic{
	transition: 0.8s;
}

#chick-n-tea-pic{
	transition: 0.8s;
}

#simpletea-pic{
	transition:0.8s;
}

#fantasia-milpitas-pic{
	transition: 0.8s;
}

#moo-bar-pic{
	transition: 0.8s;
}

#sharetea-santaclara-pic{
	transition: 0.8s;
}

#jazen-pic{
	transition: 0.8s;
}

#fantasia-santaclara-pic{
	transition: 0.8s;
}

#teanado-pic{
	transition: 0.8s;
}

#sharetea-sunnyvale-pic{
	transition: 0.8s;
}

#bobo-pic{
	transition: 0.8s;
}

#tea-fans-pic{
	transition: 0.8s;
}

#happy-lemon-pic{
	transition: 0.8s;
}

#tenren-pic{
	transition: 0.8s;
}

#monster-boba-pic{
	transition: 0.8s;
}

#cafe-lattea-pic{
	transition: 0.8s;
}

#tpumps-pic{
	transition: 0.8s;
}

#tea-chansii-pic{
	transition: 0.8s;
}

#super-cue-pic{
	transition: 0.8s;
}

#tea-era-pic{
	transition: 0.8s;
}

