body {
	font-family: 'Open Sans Condensed', sans-serif;
	display: block;
	margin: 0px 0px 100px 0px;
	padding: 0px 0px 100px 0px;
}

/*TOP BAR CSS*/

#topbar {
	font-size: 25px;
	width: 100%;
	position: fixed;
	background-color: black;
	color: white;
	z-index: 100;
	opacity: 0.8;

}

.topbar-item{
	list-style-type: none;
	float: right;
	margin-right: 50px;
	margin-bottom: 10px;
	margin-top: -10px;
}

.topbar-item:hover{
	cursor: pointer;
}

/*HOME VIEW CSS*/

#home{
	position: absolute;
	width: 100%;
	top: 60px;
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	height: 100%;
	z-index: 1;
	background-color: white;
}

#hi{
	text-align: center;
	position: relative;
	top: 15%;
}

#hi-pic{
	height: 350px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 150px;
	border-radius: 1000px;
	z-index: 1;
	opacity: 1;
}

/*ABOUT CSS*/

#about{
	position: absolute;
	top: 100%;
	height: 100%;
	background-color: white;
}

#about-pic{
	position: relative;
	height: 550px;
	top: 90px;
	left: 100px;
	opacity: 1;
}

#about-right{
	position: relative;
	right: 90px;
	padding-left: 620px;
	top: -400px;
}

#about-title{
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	margin-bottom: 20px;
}

#about-text{
	font-size: 20px;
	line-height: 30px;
}

#resume-button{
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	margin-top: 40px;
	border: solid 1px;
	text-align: center;
	padding: 1% 5% 1% 5%;
    width: 200px;
    transition: 0.5s;
}

#resume-button:hover{
	cursor: pointer;
	opacity: 1;
	border: solid 2px;
}

/* WORK CSS */ 

#work{
	position: absolute;
	top: 200%;
	height: 100%;
	width: 100%;
	background-color: white;
}

#work-title{
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}

#workses{
	margin-left: 100px;
	margin-right: 100px;
}

.work-item-title{
	font-family: 'Amatic SC', cursive;
	font-size: 40px;

}

.work-item-subtitle{
	font-size: 20px;
}

.work-item-info{
	position: relative;
	margin-top: 15px;
	font-size: 20px;
	padding-right: 50%;
}

#parttwo{
	margin-top: 15px;
}

#cg-photo{
	float: right;
	position: relative;
	top: -400px;
	width: 270px;
	right: 100px;
}

/* PROJECT CSS */

#projects{
	position: absolute;
	top: 300%;
	height: 100%;
	background-color: white;
	width: 100%;

}

#projects-title{
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}

#project-items{
	position: relative;
	margin: 0px 100px 0px 100px;
}

.project-title{
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	position: relative;

}

.project-text{
	font-size: 20px;
	line-height: 30px;
	margin-top: 15px;
	position: relative;
}

#innod-decal{
	position: relative;
	margin-top: 40px;
}

#innod-project{
	float: left;
	padding-right: 55%;
	position: relative;
	top: 50px;

}

.project-pics{
	float: right;
	position: relative;
	top: -250px;
	right: 100px;
}

.indiv-pic{
	height: 400px;
	position: relative;
	margin-right: 30px;
	opacity: 0.8;
}

.indiv-pic:hover{
	opacity: 1.0;
	cursor: pointer;
}

#wdd{
	position: relative;

}

#wdd-project{
	float: right;
	padding-left: 55%;
	position: relative;
	top: -175px;
	z-index: 1000;
}

#website{
	width: 500px;
	position: relative;
	float: left;
	top: -400px;
	opacity: 0.8;
}

#website:hover{
	opacity: 1;
	cursor: pointer;
}

#bjc{
	position: relative;
	top: 550px;
}

#video{
	position: relative;
	float: right;
	top: -600px;
}

#bjc-project{
	padding-right: 600px;
}

/* CONTACT CSS */

#contact{
	position: absolute;
	top: 480%;
	height: 100%;
	background-color: white;
	width: 100%;
	margin-left: 100px;
	margin-right: 100px;
}

#contact-title{
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	position: relative;
	float: left;

}

.contact-left{
	position: absolute;
}


#contact-info{
	position: relative;
	top: 100px;
	left: -182px;
	font-size: 20px;
}

#contact-list{
	position: relative;
	float: left;
	top: 120px;
	left: -182px;
}
.contact-link{
	height: 50px;
	opacity: 0.8;
	position: relative;
	float: left;
	margin-right: 50px;
	padding: 10px;
	border: solid 1px;
	text-decoration: none;
	transition: 0.5s;
}

.contact-link:hover{
	cursor: pointer;
	text-decoration: none;
	opacity: 1.0;
	border: solid 2px;
}

a{
	text-decoration: none;
	color: black;
}

#contact-pic{
	height: 425px;
	position: relative;
	float: right;
	right: 200px;
	opacity: 0.9;
	transform: rotate(90deg);
	top: 50px;
}

/* MODAL CSS */

#modal-overlay{
	top: 300%;
	display: none;
	width: 120%;
	height: 100%;
	background-color:  rgba(0, 0, 0, 0.5);
	opacity: 50%;
	position: absolute;
	z-index: 1000;
}

#midterm-modal{
	top: 300%;
	position: absolute;
	text-align: center;
	z-index: 1000;

}

#midterm-pic{
	display: none;
	height: 600px;
	position: relative;
	top: 86px;
	left: 100%;

}

#midterm-x{
	display: none;
	height: 50px;
	position: relative;
	top: -530px;
	left: 20px;
}

#midterm-x:hover{
	cursor: pointer;
}

